In [1]:
a= ['chicago', 'delhi','paris','oslo','mumbai']

In [2]:
a

['chicago', 'delhi', 'paris', 'oslo', 'mumbai']

In [5]:
len(a)

5

In [10]:
for i in range(len(a)):
    print(a[i],end=" ")

7 5 5 4 6

In [11]:
for i in range(len(a)):
    print(a[i],end=" ")

chicago delhi paris oslo mumbai

In [33]:
'''program to count the number of strings where the string length is 2 or
more and the first and last character are same from a given list of strings.'''
for i in range(len(a)):
    if(len(a[i]) >2 and (a[i]).upper()[0]==((a[i]).upper()[len(a[i])-1]) ):
        print(a[i])

oslo

In [18]:
print((a[0]).upper())

CHICAGO

In [19]:
print(((a[0]).upper())[0])

C

In [23]:
(a[0]).upper()[0]==((a[-1]).upper()[0])

False

In [21]:
(a[-1])

'mumbai'

In [27]:
((a[0]).upper()[len(a[i])])

'O'

In [34]:
# filter() filter outs the list elements for which the given lambda expression is true
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

TypeError: 'type' object is not subscriptable

In [38]:
a

['chicago', 'delhi', 'paris', 'oslo', 'mumbai']

In [39]:
li

[5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [41]:
z = list(map((lambda x,y : x+y),a,str(li)))

In [42]:
z

['chicago[', 'delhi5', 'paris,', 'oslo ', 'mumbai7']

In [43]:
li

[5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [46]:
from functools import reduce
sum = reduce((lambda x , y: x + y ), li)

In [47]:
sum

481

In [48]:
dict = { 1 :"a", 2 : "b", 3:"c",4 : "d", 5 :"e",6:"f", 7 :"e"}

In [49]:
dict

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'e'}

In [50]:
type(dict)

dict

In [52]:
dict[1]

'a'

In [53]:
dict.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7])

In [57]:
len(dict.items())

7

In [78]:
dict = { 1 :1, 2 : 4, 3:5,4 :16, 5 :25,9:8, 7 :10}
for i,j in dict.items():
    if(i*i == j):
        print(i, " ",j)

1   1
2   4
4   16
5   25

In [1]:
z = (1,2,3,4,5)

In [2]:
type(z)

tuple

In [3]:
z= list(z)

In [4]:
z

[1, 2, 3, 4, 5]

In [5]:
z.pop(1)

2

In [6]:
z

[1, 3, 4, 5]

In [2]:
# Question 5
shop = {"pen":99,"eraser":98,"whitener":50,"notebook": 100}
shopl = list(shop.items())
shopl.sort(key=lambda x:x[1],reverse=True)
print(*shopl)
for i in range(3):
    print(shopl[i][0],':',shopl[i][1],end=' ')

('notebook', 100) ('pen', 99) ('eraser', 98) ('whitener', 50)
notebook : 100 pen : 99 eraser : 98

In [5]:
#7
from statistics import mean
shop = {"pencil":100,"pen":99,"eraser":98,"whitener":50,"notebook":100}
shopl = list(shop.values())
y = mean(shopl)
shop = {x:y for x in shop.keys()}
print(shop)

{'pencil': 89.4, 'pen': 89.4, 'eraser': 89.4, 'whitener': 89.4, 'notebook': 89.4}