In [21]:
1a= [1,2,3,4]
val = 0
for i in a:
    val += i
print(val)

10

In [4]:
a.append(5)

In [22]:
a[2]

3

In [5]:
a

[1, 2, 3, 4, 5]

In [6]:
str = " I love python"
l = str.split(" ")

In [7]:
l

['', 'I', 'love', 'python']

In [8]:
b = [1 ,2, 3 ,4 ,5 ,6, [4,5], 6, 7]

In [11]:
type(a)

list

In [12]:
type(b)

list

In [13]:
a.append([1,2,3])

In [14]:
a

[1, 2, 3, 4, 5, [1, 2, 3]]

In [25]:
a.extend([1,2,3])

In [16]:
a

[1, 2, 3, 4, 5, [1, 2, 3], 1, 2, 3]

look into possible functions for lists .

In [26]:
a.sort() '''1234123'''

In [28]:
a

[1, 1, 2, 2, 3, 3, 4]

In [27]:
a

[1, 1, 2, 2, 3, 3, 4]

In [29]:
a.count(2)

2

In [30]:
z = [1,2,3,4]

In [31]:
z[2:]

[3, 4]

In [32]:
z[2:4]

[3, 4]

In [33]:
z[:2]

[1, 2]

In [34]:
a[2:]

[2, 2, 3, 3, 4]

In [35]:
a[2:3]

[2]

In [36]:
a[2:4]

[2, 2]

In [37]:
a

[1, 1, 2, 2, 3, 3, 4]

In [38]:
a.insert(3,144)

In [39]:
a

[1, 1, 2, 144, 2, 3, 3, 4]

In [40]:
a[-1]

4

In [41]:
a[-1:-3]

[]

In [42]:
a[-3:-1]

[3, 3]

In [43]:
a

[1, 1, 2, 144, 2, 3, 3, 4]

In [44]:
a[-3:0]

[]

In [45]:
a[-3:]

[3, 3, 4]

In [46]:
a[5:7]

[3, 3]

In [47]:
a[7:8]

[4]

In [48]:
a

[1, 1, 2, 144, 2, 3, 3, 4]

In [ ]:
a[-3:]

list / dictionary very useful in data science

In [51]:
x

NameError: name 'x' is not defined

In [52]:
x =(1,2,3,4)

In [53]:
x

(1, 2, 3, 4)

In [54]:
type(x)

tuple

In [55]:
x[0]=2

TypeError: 'tuple' object does not support item assignment

In [56]:
a

[1, 1, 2, 144, 2, 3, 3, 4]

In [57]:
a[2]=2

In [58]:
a

[1, 1, 2, 144, 2, 3, 3, 4]

In [59]:
a[1]=2

In [60]:
a

[1, 2, 2, 144, 2, 3, 3, 4]

tuple is immutable .list is usually preferrec as it is close to array in c++ .

In [61]:
a+ x

TypeError: can only concatenate list (not "tuple") to list

In [64]:
y = (5,6,7)

In [65]:
x+y

(1, 2, 3, 4, 5, 6, 7)

In [66]:
z = (x,y)

In [67]:
z

((1, 2, 3, 4), (5, 6, 7))

sets :A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python’s set class represents the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table.

Frozen Sets Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.

In [69]:
x = {1,2,34,5,6,7,8,1,1,1,2,3}

In [71]:
y = {2,3,4,5,1,1,1,8,3}

In [72]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8, 34}

In [73]:
y.union(x)

{1, 2, 3, 4, 5, 6, 7, 8, 34}

In [74]:
x - y

{6, 7, 34}

In [75]:
y- x

{4}

In [76]:
x.intersection(y)

{1, 2, 3, 5, 8}

In [77]:
set([1,2,3])

{1, 2, 3}

In [78]:
frozenset({1,2,3})

frozenset({1, 2, 3})

In [80]:
{1,2,3,4} +{4}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [84]:
k= {1,2,3,4}

In [85]:
k.add(4)

In [86]:
k

{1, 2, 3, 4}

dictionary ::

In [87]:
rudrashis ={"name":"rudrashis","branch" : "civil engineering","college":"iiest shibpur"}

In [88]:
rudrashis

{'name': 'rudrashis',
 'branch': 'civil engineering',
 'college': 'iiest shibpur'}

In [89]:
type(rudrashis)

dict

In [90]:
rudrashis.keys

In [91]:
rudrashis.keys()

dict_keys(['name', 'branch', 'college'])

In [93]:
rudrashis.values()

dict_values(['rudrashis', 'civil engineering', 'iiest shibpur'])

In [95]:
rudrashis.items()

dict_items([('name', 'rudrashis'), ('branch', 'civil engineering'), ('college', 'iiest shibpur')])

In [97]:
for i,j in rudrashis.items():
    print(i,j)

name rudrashis
branch civil engineering
college iiest shibpur

In [98]:
rudrashis.pop('branch')

'civil engineering'

In [99]:
rudrashis

{'name': 'rudrashis', 'college': 'iiest shibpur'}

In [101]:
rudrashis.update("branch"="civil engineering")

SyntaxError: keyword can't be an expression (<ipython-input-101-9fdc6c0425c6>, line 1)

In [102]:
g = lambda x: x*x*x 
print(g(7))

343

In [103]:
g(5)

125

In [104]:
a

[1, 2, 2, 144, 2, 3, 3, 4]

also see map , reduce ,filter . also += is not there in python

addrev , fctrl1 , julka , candy3 , fctrc

SyntaxError: invalid syntax (<ipython-input-111-1cc1580d4732>, line 1)